@*@model IEnumerable<BookShop_WebApplication.Models.CATEGORY>*@
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<BookShop_WebApplication.Models.CATEGORY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
    ViewBag.Active = 7;
}

<section class="wrapper">
    <div class="row" style="height: 600px">
        <div class="col-lg-12 main-chart">
            <p style="float:right"><a class="btn btn-success float-left" href="~/Admin/CategoryManagement/AddCategory"><i class="fa-solid fa-plus"></i> Add category</a></p>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                            <td>

                                <a class="btn btn-primary" href="~/Admin/CategoryManagement/EditCategory?categoryId=@item.CategoryID">Edit</a>
                                <a class="btn btn-danger" href="~/Admin/CategoryManagement/DeleteCategory?categoryId=@item.CategoryID">Delete</a>

                            </td>

                        </tr>

                        i++;
                    }

                </table>
            }
            <div>
                
                    
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                    
                
            </div>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", "CategoryManagement", new { page, pagesize = @ViewBag.PageSize }))
            </div>
        </div>
    </div>
</section>