
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>memorial books</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/assets/font-awesome/css/all.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/assets/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout @Html.Raw(ViewBag.BodyHomePage == 0 ? "" : "home_page") @*home_page*@">
    <!-- loader  -->
    @*<div class="loader_bg">
            <div class="loader"><img src="~/assets/images/loading.gif" alt="#" /></div>
        </div>*@
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href="index.html"><img src="~/assets/images/logo.png" alt="#"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="@Html.Raw(ViewBag.Active == 1 ? "active" : "")"> <a href="~/Home/Index">Home</a> </li>
                                        <li class="@Html.Raw(ViewBag.Active == 2 ? "active" : "")"><a href="~/Book/BookList">Our Books</a></li>
                                        <li class="@Html.Raw(ViewBag.Active == 4 ? "active" : "")">
                                            @Html.Action("CategoryPartial", "Category")
                                        </li>
                                        <li class="@Html.Raw(ViewBag.Active == 3 ? "active" : "")"><a href="~/Home/AboutUs">About us</a> </li>
                                        <li class="@Html.Raw(ViewBag.Active == 11 ? "active" : "")"><a href="~/News/Index">News API</a> </li>
                                        <li class="@Html.Raw(ViewBag.Active == 5 ? "active" : "")">@Html.Action("CartPartial", "Cart")</li>
                                        @{
                                            var user = BookShop_WebApplication.App_Start.SessionConfig.GetUser();
                                        }

                                        @if (user != null)
                                        {
                                            <li class="@Html.Raw(ViewBag.Active == 6 ? "active" : "")">
                                                <a class="text-lowercase" style="color:red" href="#">Welcome: @user.UserName </a>

                                                <ul class="dropdown">
                                                    <li class="dropdown-item"><a href="~/Home/Logout">Logout</a></li>
                                                    <li class="dropdown-item"><a href="~/Cart/HistoryOrder">Order History</a></li>
                                                </ul>


                                            </li>
                                        }
                                        else
                                        {
                                            <li class="@Html.Raw(ViewBag.Active == 6 ? "active" : "")">
                                                <a href="" class="dropdown-toggle">Account</a>

                                                <ul class="dropdown">
                                                    <li class="dropdown-item"><a href="~/Home/Register">Register</a></li>
                                                    <li class="dropdown-item"><a href="~/Home/Login">Login</a></li>

                                                </ul>

                                            </li>
                                        }
                                        @*<li class="mean-last"> <a href="#"><img src="~/assets/images/search_icon.png" alt="#" /></a> </li>
        <li class="mean-last"> <a href="#"><img src="~/assets/images/top-icon.png" alt="#" /></a> </li>*@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end header inner -->
    </header>
    <!-- end header -->
    @if (ViewBag.About_bg != 0)
    {
        <div class="about-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="abouttitle">
                            <h2>@ViewBag.abouttitle</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- end Library -->
    <!--Books -->
    @RenderBody()

    <!-- end Books -->
    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="Follow">
                            <h3>Follow Us</h3>
                        </div>
                        <ul class="location_icon">
                            <li> <a href="#"><img src="~/assets/icon/facebook.png"></a></li>
                            <li> <a href="#"><img src="~/assets/icon/Twitter.png"></a></li>
                            <li> <a href="#"><img src="~/assets/icon/linkedin.png"></a></li>
                            <li> <a href="#"><img src="~/assets/icon/instagram.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <div class="Follow">
                            <h3>Newsletter</h3>
                        </div>
                        <input class="Newsletter" placeholder="Enter your email" type="Enter your email">
                        <button class="Subscribe">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.0.0.min.js"></script>
    <script src="~/assets/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>


